extends layout

block content
    .row.justify-content-center
        .col-12-auto.mt-3.mr-3
            a(href="/editCharter/?id="+charter._id).btn.btn-primary Edit Charter
        .col-12-auto.mt-3.mr-3
            a(href="/executionForm/?id="+charter._id).btn.btn-success Start Session
        .col-12-auto.mt-3.mr-3
            a(href="/").btn.btn-info Back
    hr
    .container
        .row.justify-content-left
            .col
                p 
                    strong= "Charter Title: "
                    span= charter.charter
        .row.justify-content-left
            .col
                p
                    strong= "Current Asignee: "
                    span= charter.asignee
        .row.justify-content-left
            .col
                p
                    strong= "Description:"
                    .row.justify-content-left
                        .col-11.offset-1
                            pre= charter.description
    hr
    if charter.sessions.length
        table.table.table-striped.table-hover
            thead.thead-dark
                tr
                    th(scope="col") Charter
                    th(scope="col") Current Asignee
                    th(scope="col") Sessions
                    th(scope="col") To Debrief
                    th(scope="col") Command 
            tbody
                each session in charter.sessions
                    tr
                        td= session.startTime
                        td= session.asignee
                        td= session.finishTime
                        td= session.t
                        td= session.b
                        td= session.s
                        td= session.opportunity
                        td= session.bugs
                        td= session.issues
                        td= session.debriefed
    else
        .row.justify-content-center
            .col-12-auto-mt-3
                p Still no sessions to show