extends layout

block content
    .row.justify-content-center
        if !(session.debriefNotes)
            .col-12-auto.mt-3.mr-3
                a(href="/addDebriefingNotes/?id=" + session._id).btn.btn-primary Add Debriefing Notes
        .col-12-auto.mt-3.mr-3
            a(href="/charterPage/?id=" + session.charter.id).btn.btn-info Back
    hr
    .container
        .row.justify-content-left
            .col-6
                p 
                    strong= "Charter Title: "
                    span= session.charter.charter
            .col-6
                p 
                    strong= "Time Started: "
                    span= moment(session.startTime).format('DD-MMM-YYYY hh:mm:ss a')
                p 
                    strong= "Duration (min): "
                    span= moment(session.endTime).diff(session.startTime, 'minutes')
        .row.justify-content-left
            .col
                p
                    strong= "Current Assignee: "
                    span= session.assignee
        .row.justify-content-left
            .col
                p
                    strong= "Description:"
                    .row.justify-content-left
                        .col-11.offset-1
                            pre= session.charter.description
    hr
    .container
        .row.justify-content-center
                .col
                    p
                        strong= "T: "
                        span= session.t
                .col
                    p
                        strong= "B: "
                        span= session.b
                .col
                    p
                        strong= "S: "
                        span= session.s
                .col
                    p
                        strong= "Opportunity: "
                        span= session.opportunity
                .col
                    p
                        strong= "Bugs: "
                        span= session.bugs
                .col
                    p
                        strong= "Issues: "
                        span= session.issues
        .row.justify-content-left
            .col
                p
                    strong= "Notes:"
                    .row.justify-content-left
                        .col-11.offset-1
                            pre= session.notes
    if session.debriefNotes
        hr
        .container
            .row.justify-content-left
                .col
                    p
                        strong= "Debriefing Notes:"
                        .row.justify-content-left
                            .col-11.offset-1
                                pre= session.debriefNotes
            